* { margin: 0; padding: 0; }


.slider{
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height:15px;
    position: absolute;
    width: 15px;
    z-index: 10;
    border-radius: 20px;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 390px;
}

.slider li:nth-child(3) label {
    right: 10px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
    height: 500px;
    width:800px ;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}









/* Teste num 2 */


*{
    padding: 0px;
    margin: 0px;
}

.img_menu{
    height: 60px;
}


#check{
    display: none;
}


nav{
    max-width: 350px;
    width: 100%;
 
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: grey;
    transition:background .3s;
    padding: 20px 5px;
}

nav ul li a:hover{
    background-color: aquamarine;
    color: black;
}