/* TODAS AS ABAS */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

/* MENU LATERAL */

.menu {
    float: left;
}

#check {
    display: none;
}

#icon {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 50px;
}

.navbar {
    background-color: #636e72;
    height: 100%;
    width: 260px;
    position: absolute;
    transition: all .2s linear;
    left: -260px;
  
}

.menu nav {
    width: 100%;
    position: absolute;
    top: 70px;
}

.menu nav a {
    text-decoration: none;
    color: white;
    display: block;
}

nav ul {
    list-style-type: none;
}

#first {
    border-top: 2px solid #b2bec3;
}

.menu li {
    padding: 30px;
    transition: all .2s linear;
    border-bottom: 2px solid #b2bec3;
}

.menu li:hover {
    background-color: #00cec9;
}

#check:checked~.navbar {
    transform: translateX(220px)
}

/* CABEÇALHO */

.header {
    background-color: #636e72;
    border-bottom: 3px solid #00cec9;
}

.titulo_head {
    margin: 0 auto;
    color: white; 
text-shadow: black 0.1em 0.1em 0.2em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.login {
    justify-self: flex-end;
}

.login button{
    width: 90px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
   font-family: 'Nunito', sans-serif;
   font-size: 14px;
}

.login button:hover{
    background-color: #00cec9;

}

.login button a{
text-decoration: none;
color: white;

}



/* PAG SKT IDEAL */

.skt_ideial {
    text-align: center;
}

.skt_ideial input {
    outline: none;
    padding-top: 20px;
    border: none;
    border-bottom: 3px solid #636e72;
}


/* INDEX */

.banner{
    background-color:grey ;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}